version: '2'

services:
  traefik:
    image: traefik
    restart: unless-stopped
    command:  --api --docker
    networks:
{% for site in wordpress_sites %}
      - {{ site.project_name }}
{% endfor %}
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - ./acme.json:/acme.json
      - ./traefik.toml:/traefik.toml
      - /var/run/docker.sock:/var/run/docker.sock

networks:
{% for site in wordpress_sites %}
  {{ site.project_name }}:
    external:
      name: {{ site.project_name }}_default
{% endfor %}
